<?xml version="1.0"?>
<config>
	<modules>
		<Alfresco_Location>
			<version>0.1.0</version>
		</Alfresco_Location>
	</modules>
	<global>
		<blocks>
			<location>
				<class>Alfresco_Location_Block</class>
			</location>
		</blocks>
	</global>
	<frontend>
		<routers>
			<location>
				<use>standard</use>
				<args>
					<module>Alfresco_Location</module>
					<frontName>location</frontName>
				</args>
			</location>
		</routers>
		<layout>
			<updates>
				<location>
					<file>location.xml</file>
				</location>
			</updates>
		</layout>
		<translate>
			<modules>
				<Alfresco_Location>
					<files>
						<default>Alfresco_Location.csv</default>
					</files>
				</Alfresco_Location>
			</modules>
		</translate>
	</frontend>
    <admin>
        <routers>
            <location>
                <use>admin</use>
                <args>
                    <module>Alfresco_Location</module>
                    <frontName>location</frontName>
                </args>
            </location>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <location>
                    <file>location.xml</file>
                </location>
            </updates>
        </layout>
    </adminhtml>
	<global>
		<models>
            <location>
                <class>Alfresco_Location_Model</class>
                <resourceModel>location_resource</resourceModel>
            </location>
            <location_resource>
                <class>Alfresco_Location_Model_Resource</class>
                <entities>
                	<province>
                		<table>alfresco_province</table>
                	</province>
                	<location>
                		<table>alfresco_location</table>
                	</location>
                </entities>
            </location_resource>
        </models>
        <resources>
            <location_setup>
                <setup>
                    <module>Alfresco_Location</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </location_setup>
            <location_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </location_write>
            <location_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </location_read>
        </resources>
        <blocks>
            <location>
                <class>Alfresco_Location_Block</class>
            </location>
        </blocks>
        <helpers>
            <location>
                <class>Alfresco_Location_Helper</class>
            </location>
        </helpers>
	</global>
</config>
