<!--@subject Newsletter subscription success @-->
<div style="width: 100%;background: #f4f4f4;height: 100%">
    <div style="width: 100%;max-width: 900px ; min-width: 600px;margin: 0 auto">
        <h3>Đăng ký nhận tin tức</h3>
        <div style="background: #ffffff;box-shadow: inset 0 0 10px #928E8E;padding: 10px;height: 100%;">
            Xin Chào !
            <br />
            <p>
                Cám ơn bạn đã đăng ký nhận thông tin từ Đẹp Khỏe News .
                
            </p>
            <p >
                Chúc bạn có một ngày vui vẻ
                Ban quản trị
                <a href="www.depkhoenews.com">Đẹp Khỏe News</a>
            </p>
        </div>
    </div>
</div>